In [6]:
import pandas as pd
import requests

In [7]:
from bs4 import BeautifulSoup

In [24]:
with open("data/rainfall.txt","r") as f:
    lines = f.readlines()
lines = ''.join(lines)

In [5]:
html = requests.get("https://www.weather.gov/wrh/timeseries?site=K1IM&hours=72&units=english&chart=off&headers=on&obs=tabular&hourly=false&pview=standard&history=yes&start=20210101&end=20231201")
html = html.text

In [26]:
soup = BeautifulSoup(lines,"html.parser")

In [45]:
rows[1]

['YEAR',
 'JUN',
 'JUL',
 'AUG',
 'SEP',
 'JUN-SEP',
 'YEAR',
 'JUN',
 'JUL',
 'AUG',
 'SEP',
 'JUN-SEP']

In [29]:
# Find the table element
table = soup.find('table')

# Initialize lists to store table data
rows = []
columns = []

# Extract table data
for row in table.find_all('tr'):
    columns = []
    for cell in row.find_all(['th', 'td']):
        columns.append(cell.get_text(strip=True))
    rows.append(columns)

# Create DataFrame from extracted data
# df = pd.DataFrame(rows[1:], columns=rows[0])

['Actual Rainfall in mm', 'Rainfall in % departure']
['YEAR', 'JUN', 'JUL', 'AUG', 'SEP', 'JUN-SEP', 'YEAR', 'JUN', 'JUL', 'AUG', 'SEP', 'JUN-SEP']
['1901', '112.3', '241.5', '268.9', '126.1', '748.8', '1901', '-32.1', '-13.9', '5.5', '-24.9', '-13.8']
['1902', '109', '283.2', '202.1', '201', '795.2', '1902', '-34.1', '1', '-20.7', '19.7', '-8.4']
['1903', '117', '292', '272', '200.1', '881.1', '1903', '-29.2', '4.1', '6.7', '19.2', '1.5']
['1904', '164.4', '261.4', '204.1', '130.6', '760.4', '1904', '-0.5', '-6.8', '-19.9', '-22.2', '-12.4']
['1905', '92.3', '251.7', '201.3', '177.4', '722.7', '1905', '-44.2', '-10.2', '-21', '5.7', '-16.8']
['1906', '177.9', '285.5', '248.7', '183', '895.1', '1906', '7.6', '1.8', '-2.4', '9', '3.1']
['1907', '152.7', '223.9', '308.9', '96.4', '781.9', '1907', '-7.6', '-20.1', '21.2', '-42.6', '-10']
['1908', '126.4', '326.1', '313.6', '152.9', '919.1', '1908', '-23.5', '16.3', '23', '-8.9', '5.8']
['1909', '206.8', '308.2', '234.5', '162.2', '911.8', '1909', '25.1', '9.9', '-8', '-3.4', '5']
['1910', '212.2', '246.9', '289.6', '185.6', '934.2', '1910', '28.4', '-11.9', '13.6', '10.5', '7.6']
['1911', '190.2', '163.3', '214.7', '180.2', '748.4', '1911', '15.1', '-41.8', '-15.8', '7.3', '-13.8']
['1912', '106.8', '330.4', '262.4', '119.4', '818.9', '1912', '-35.4', '17.8', '2.9', '-28.9', '-5.7']
['1913', '213.9', '268.1', '193.7', '109.3', '785.1', '1913', '29.4', '-4.4', '-24', '-34.9', '-9.6']
['1914', '156.5', '351.7', '242.4', '195.3', '945.9', '1914', '-5.3', '25.4', '-4.9', '16.3', '8.9']
['1915', '155.8', '230.7', '228.6', '174.3', '789.4', '1915', '-5.7', '-17.7', '-10.3', '3.8', '-9.1']
['1916', '232.4', '271.2', '314', '200.4', '1018.1', '1916', '40.6', '-3.3', '23.2', '19.4', '17.2']
['1917', '233.1', '286.8', '297.7', '282.3', '1099.8', '1917', '41', '2.3', '16.8', '68.1', '26.6']
['1918', '212.3', '186.2', '244.2', '112.7', '755.4', '1918', '28.4', '-33.6', '-4.2', '-32.9', '-13']
['1919', '195.3', '309.5', '290', '162.8', '957.7', '1919', '18.1', '10.4', '13.8', '-3', '10.3']
['1920', '163.6', '297.3', '192.7', '123.2', '776.8', '1920', '-1', '6', '-24.4', '-26.6', '-10.6']
['1921', '192.3', '294.4', '279.6', '205.1', '971.4', '1921', '16.3', '5', '9.7', '22.2', '11.8']
['1922', '205.1', '318.8', '220.8', '204.1', '948.9', '1922', '24.1', '13.7', '-13.4', '21.6', '9.3']
['1923', '101.7', '341.1', '277.2', '175.1', '895', '1923', '-38.5', '21.6', '8.7', '4.3', '3.1']
['1924', '134.4', '330.7', '259.8', '237.8', '962.7', '1924', '-18.7', '17.9', '1.9', '41.6', '10.8']
['1925', '204.3', '306.1', '239.1', '140', '889.5', '1925', '23.6', '9.2', '-6.2', '-16.6', '2.4']
['1926', '97.4', '320.6', '337.6', '211.7', '967.3', '1926', '-41.1', '14.3', '32.4', '26.1', '11.4']
['1927', '176.9', '349.9', '260', '172.3', '959', '1927', '7', '24.8', '2', '2.6', '10.4']
['1928', '178.8', '305.8', '233.3', '145.9', '863.8', '1928', '8.2', '9.1', '-8.5', '-13.1', '-0.5']
['1929', '194.5', '297.7', '245.2', '125.4', '862.9', '1929', '17.7', '6.2', '-3.8', '-25.3', '-0.6']
['1930', '179.9', '292.3', '212.9', '175.4', '860.4', '1930', '8.8', '4.2', '-16.5', '4.5', '-0.9']
['1931', '132.4', '320.9', '308.6', '191.1', '953', '1931', '-19.9', '14.4', '21.1', '13.8', '9.7']
['1932', '141.5', '334.2', '239.4', '182.3', '897.4', '1932', '-14.4', '19.2', '-6.1', '8.6', '3.3']
['1933', '215.9', '284.8', '316.4', '213.1', '1030.3', '1933', '30.6', '1.6', '24.1', '26.9', '18.6']
['1934', '215.3', '285.1', '296.8', '166.6', '963.8', '1934', '30.2', '1.7', '16.4', '-0.8', '11']
['1935', '158.9', '317.3', '249', '187.1', '912.3', '1935', '-3.9', '13.2', '-2.3', '11.4', '5']
['1936', '246.9', '293.5', '239.9', '195.2', '975.5', '1936', '49.4', '4.7', '-5.9', '16.3', '12.3']
['1937', '163', '337.8', '209.8', '175.6', '886.2', '1937', '-1.4', '20.5', '-17.7', '4.6', '2']
['1938', '273.4', '302.5', '252.2', '170.4', '998.5', '1938', '65.4', '7.9', '-1.1', '1.5', '15']
['1939', '171.5', '274', '232.2', '155.7', '833.4', '1939', '3.8', '-2.3', '-8.9', '-7.3', '-4']
['1940', '174.5', '310.7', '281.3', '125.1', '891.5', '1940', '5.6', '10.8', '10.4', '-25.5', '2.6']
['1941', '170.8', '240.5', '231.7', '155.6', '798.5', '1941', '3.3', '-14.2', '-9.1', '-7.3', '-8.1']
['1942', '190.2', '343.8', '293.2', '182', '1009.1', '1942', '15.1', '22.6', '15', '8.4', '16.2']
['1943', '166.9', '311.4', '233.6', '211.3', '923.2', '1943', '1', '11.1', '-8.4', '25.8', '6.3']
['1944', '154.5', '354.4', '290.6', '155.8', '955.4', '1944', '-6.5', '26.4', '14', '-7.2', '10']
['1945', '156.9', '333.3', '247.1', '214.1', '951.4', '1945', '-5.1', '18.9', '-3.1', '27.5', '9.5']
['1946', '212.7', '318.5', '297.1', '144.2', '972.6', '1946', '28.7', '13.6', '16.6', '-14.1', '12']
['1947', '130.2', '313.3', '290.8', '240.2', '974.5', '1947', '-21.2', '11.7', '14.1', '43.1', '12.2']
['1948', '161.7', '345.2', '282.8', '177.3', '967', '1948', '-2.2', '23.1', '10.9', '5.6', '11.3']
['1949', '162.1', '317', '242', '225.9', '946.9', '1949', '-1.9', '13.1', '-5.1', '34.5', '9']
['1950', '133.8', '333.5', '234.2', '203', '904.6', '1950', '-19.1', '18.9', '-8.1', '20.9', '4.2']
['1951', '160.1', '249.5', '221.3', '123.3', '754.2', '1951', '-3.1', '-11', '-13.2', '-26.6', '-13.2']
['1952', '163.7', '284.7', '256.1', '118.4', '822.9', '1952', '-1', '1.5', '0.5', '-29.5', '-5.3']
['1953', '162.4', '321.1', '299.7', '178.3', '961.5', '1953', '-1.8', '14.5', '17.6', '6.2', '10.7']
['1954', '141.1', '293.8', '230.8', '246.8', '912.4', '1954', '-14.6', '4.8', '-9.5', '47', '5.1']
['1955', '174.7', '233.5', '321.7', '218', '947.9', '1955', '5.7', '-16.7', '26.2', '29.8', '9.1']
['1956', '209.2', '363.1', '260.8', '165.5', '998.6', '1956', '26.6', '29.5', '2.3', '-1.4', '15']
['1957', '154.4', '305.5', '272.9', '131.7', '864.5', '1957', '-6.6', '9', '7.1', '-21.6', '-0.5']
['1958', '122.2', '315.6', '321.6', '231', '990.4', '1958', '-26.1', '12.6', '26.2', '37.6', '14']
['1959', '167.7', '374.3', '264.8', '236.6', '1043.3', '1959', '1.5', '33.5', '3.9', '40.9', '20.1']
['1960', '157.3', '317', '252.5', '181.3', '908.1', '1960', '-4.8', '13.1', '-0.9', '8', '4.6']
['1961', '192.4', '337.1', '286.4', '235.2', '1051.1', '1961', '16.4', '20.2', '12.4', '40.1', '21']
['1962', '135.2', '280.8', '276.4', '210.2', '902.5', '1962', '-18.2', '0.1', '8.4', '25.2', '3.9']
['1963', '166.9', '256.8', '317.6', '165.4', '906.7', '1963', '1', '-8.4', '24.6', '-1.5', '4.4']
['1964', '175.6', '343.6', '273.2', '199.5', '991.9', '1964', '6.2', '22.5', '7.2', '18.8', '14.2']
['1965', '115.5', '269.2', '192.3', '130.1', '707.2', '1965', '-30.1', '-4', '-24.6', '-22.5', '-18.6']
['1966', '176.9', '251.5', '216.3', '147.2', '791.8', '1966', '7', '-10.3', '-15.1', '-12.3', '-8.8']
['1967', '142.8', '304.6', '264.1', '171.3', '882.8', '1967', '-13.6', '8.6', '3.6', '2', '1.6']
['1968', '148', '308.4', '214.1', '128.7', '799.3', '1968', '-10.5', '10', '-16', '-23.3', '-8']
['1969', '130.2', '320.6', '277', '173.8', '901.7', '1969', '-21.2', '14.3', '8.7', '3.5', '3.8']
['1970', '215.8', '251.2', '318.6', '214.5', '1000.1', '1970', '30.6', '-10.4', '25', '27.8', '15.2']
['1971', '228.7', '268', '268.3', '148', '913', '1971', '38.4', '-4.4', '5.3', '-11.9', '5.1']
['1972', '122', '204', '219.6', '128.9', '674.4', '1972', '-26.2', '-27.2', '-13.8', '-23.2', '-22.3']
['1973', '149.5', '278.5', '312.5', '183.6', '924.1', '1973', '-9.6', '-0.7', '22.6', '9.4', '6.4']
['1974', '122.8', '280.3', '231.3', '143.6', '778', '1974', '-25.7', '0', '-9.3', '-14.5', '-10.4']
['1975', '174.8', '307.9', '288.6', '226.7', '998', '1975', '5.7', '9.8', '13.2', '35', '14.9']
['1976', '157.4', '291.6', '293.3', '142.9', '885.2', '1976', '-4.8', '4', '15.1', '-14.9', '1.9']
['1977', '184.8', '321.9', '245', '146.4', '898', '1977', '11.8', '14.8', '-3.9', '-12.8', '3.4']
['1978', '207.1', '289.3', '281.8', '161.5', '939.7', '1978', '25.3', '3.2', '10.6', '-3.8', '8.2']
['1979', '139.1', '238', '210.2', '136', '723.3', '1979', '-15.8', '-15.1', '-17.5', '-19', '-16.7']
['1980', '228.9', '296.5', '264.3', '144.9', '934.6', '1980', '38.5', '5.7', '3.7', '-13.7', '7.6']
['1981', '151.5', '309.2', '238.6', '185.8', '885.2', '1981', '-8.3', '10.3', '-6.4', '10.7', '1.9']
['1982', '136.5', '230.5', '276.1', '126.1', '769.2', '1982', '-17.4', '-17.8', '8.3', '-24.9', '-11.4']
['1983', '150', '282.4', '305.9', '251.9', '990.3', '1983', '-9.3', '0.7', '20', '50', '14']
['1984', '190.7', '285.9', '265.2', '145.3', '887.1', '1984', '15.4', '2', '4', '-13.5', '2.1']
['1985', '154.9', '289.8', '234.1', '151.3', '830.1', '1985', '-6.3', '3.4', '-8.2', '-9.9', '-4.4']
['1986', '180.9', '261.5', '228.3', '124.5', '795.1', '1986', '9.4', '-6.7', '-10.4', '-25.8', '-8.5']
['1987', '130.5', '220.1', '243.1', '150.6', '744.4', '1987', '-21.1', '-21.5', '-4.6', '-10.3', '-14.3']
['1988', '157.7', '376.5', '300.1', '218.4', '1052.7', '1988', '-4.6', '34.3', '17.7', '30.1', '21.2']
['1989', '183.9', '302.3', '237.1', '163.8', '887.1', '1989', '11.3', '7.8', '-7', '-2.4', '2.1']
['1990', '190.5', '286.8', '290', '196.1', '963.5', '1990', '15.2', '2.3', '13.8', '16.8', '10.9']
['1991', '183.6', '277', '260', '135.8', '856.5', '1991', '11.1', '-1.2', '2', '-19.1', '-1.4']
['1992', '136.6', '266.5', '285', '167.9', '856', '1992', '-17.4', '-5', '11.8', '0', '-1.4']
['1993', '169.6', '304.5', '201.9', '209.6', '885.6', '1993', '2.6', '8.6', '-20.8', '24.8', '2']
['1994', '203.1', '350.9', '285.9', '148.9', '988.8', '1994', '22.9', '25.1', '12.2', '-11.3', '13.9']
['1995', '138.1', '320.1', '267.1', '180.2', '905.5', '1995', '-16.5', '14.2', '4.8', '7.3', '4.3']
['1996', '184.4', '265.3', '300.1', '147.8', '897.5', '1996', '11.6', '-5.4', '17.7', '-12', '3.3']
['1997', '171.6', '284.7', '263', '150.8', '870.1', '1997', '3.8', '1.5', '3.2', '-10.2', '0.2']
['1998', '161.6', '282.4', '248.7', '202.9', '895.6', '1998', '-2.2', '0.7', '-2.4', '20.8', '3.1']
['1999', '170.8', '266.1', '221.9', '186.8', '845.6', '1999', '3.3', '-5.1', '-12.9', '11.3', '-2.6']
['2000', '185.2', '268.6', '225.4', '135.8', '815', '2000', '12', '-4.2', '-11.6', '-19.1', '-6.2']
['2001', '215.2', '280.1', '205.7', '109.5', '810.4', '2001', '30.2', '-0.1', '-19.3', '-34.8', '-6.7']
['2002', '169.1', '138.5', '243.6', '136', '687.1', '2002', '2.3', '-50.6', '-4.4', '-19', '-20.9']
['2003', '164.6', '303.7', '248.3', '180.3', '896.8', '2003', '-0.4', '8.3', '-2.6', '7.4', '3.3']
['2004', '166.3', '242.7', '252.8', '123.3', '785.1', '2004', '0.6', '-13.4', '-0.8', '-26.6', '-9.6']
['2005', '145.8', '333.4', '191.2', '201.4', '871.8', '2005', '-11.8', '18.9', '-25', '20', '0.4']
['2006', '151', '288', '288.2', '170.7', '898', '2006', '-8.7', '2.7', '13.1', '1.7', '3.4']
['2007', '199.9', '294.3', '259.1', '213.3', '966.6', '2007', '20.9', '5', '1.6', '27', '11.3']
['2008', '210.5', '254.2', '265.6', '166.8', '897.1', '2008', '27.3', '-9.3', '4.2', '-0.7', '3.3']
['2009', '87.5', '285.7', '193.5', '142.4', '709.2', '2009', '-47.1', '1.9', '-24.1', '-15.2', '-18.3']
['2010', '141.3', '299.1', '273.3', '197.9', '911.6', '2010', '-14.5', '6.7', '7.2', '17.9', '5.00']
['2011', '183.1', '247.8', '288.7', '191.5', '911.1', '2011', '10.8', '-11.6', '13.3', '14.1', '4.9']
['2012', '120.8', '255.2', '264.4', '196.7', '837.1', '2012', '-26.9', '-9.0', '3.7', '17.2', '-3.6']
['2013', '220.7', '310.3', '258.6', '153.8', '943.4', '2013', '33.5', '10.7', '1.5', '-8.4', '8.6']
['2014', '92.1', '265.5', '233.7', '189.6', '781.0', '2014', '-44.3', '-5.3', '-8.3', '12.9', '-10.1']
['2015', '188.4', '240.1', '199.8', '129.9', '758.2', '2015', '14.0', '-14.4', '-21.6', '-22.6', '-12.7']
['2016', '147.6', '308.4', '239.7', '169.8', '865.5', '2016', '-10.7', '10.0', '-6.0', '1.1', '-0.3']
['2017', '172.7', '290.3', '229.5', '153.2', '845.7', '2017', '4.5', '3.5', '-10.0', '-8.8', '-2.6']
['2018', '156.3', '274.2', '241.0', '132.5', '804.0', '2018', '-5.4', '-2.2', '-5.5', '-21.1', '-7.4']
['2019', '113.6', '297.0', '299.9', '260.2', '970.8', '2019', '-31.3', '5.9', '17.7', '55.0', '11.8']
['2020', '195.8', '257.1', '328.2', '178.2', '959.3', '2020', '18.5', '-8.3', '28.8', '6.1', '10.5']
['2021', '182.3', '266.3', '194.3', '229.3', '872.3', '2021', '10.3', '-5.0', '-23.8', '36.6', '0.4']
['2022', '152.3', '327.7', '263.7', '181.3', '925.0', '2022', '-7.9', '16.9', '3.4', '8.0', '6.5']

In [47]:
[rows[0],rows[1]]

[['Actual Rainfall in mm', 'Rainfall in % departure'],
 ['YEAR',
  'JUN',
  'JUL',
  'AUG',
  'SEP',
  'JUN-SEP',
  'YEAR',
  'JUN',
  'JUL',
  'AUG',
  'SEP',
  'JUN-SEP']]

In [53]:
header = pd.MultiIndex.from_product([['Actual Rainfall in mm', 'Rainfall in % departure'],
 ['YEAR','JUN',
  'JUL',
  'AUG',
  'SEP',
  'JUN-SEP']],names=['rainfall','month'])
df = pd.DataFrame(rows[2:],
                  columns=header)

In [54]:
df.head()

rainfall Actual Rainfall in mm                                      \
month                     YEAR    JUN    JUL    AUG    SEP JUN-SEP
0                         1901  112.3  241.5  268.9  126.1   748.8
1                         1902    109  283.2  202.1    201   795.2
2                         1903    117    292    272  200.1   881.1
3                         1904  164.4  261.4  204.1  130.6   760.4
4                         1905   92.3  251.7  201.3  177.4   722.7

rainfall Rainfall in % departure
month                       YEAR    JUN    JUL    AUG    SEP JUN-SEP
0                           1901  -32.1  -13.9    5.5  -24.9   -13.8
1                           1902  -34.1      1  -20.7   19.7    -8.4
2                           1903  -29.2    4.1    6.7   19.2     1.5
3                           1904   -0.5   -6.8  -19.9  -22.2   -12.4
4                           1905  -44.2  -10.2    -21    5.7   -16.8

In [56]:
df = df.xs('Actual Rainfall in mm',level='rainfall',axis=1)
df.head()

month  YEAR    JUN    JUL    AUG    SEP JUN-SEP
0      1901  112.3  241.5  268.9  126.1   748.8
1      1902    109  283.2  202.1    201   795.2
2      1903    117    292    272  200.1   881.1
3      1904  164.4  261.4  204.1  130.6   760.4
4      1905   92.3  251.7  201.3  177.4   722.7

In [57]:
df = df.set_index("YEAR")
df.head()

month    JUN    JUL    AUG    SEP JUN-SEP
YEAR
1901   112.3  241.5  268.9  126.1   748.8
1902     109  283.2  202.1    201   795.2
1903     117    292    272  200.1   881.1
1904   164.4  261.4  204.1  130.6   760.4
1905    92.3  251.7  201.3  177.4   722.7

In [ ]:
df.loc[""]

In [12]:
df.dtypes

Date/Time(L)               object
Temp.(°F)                  object
DewPoint(°F)               object
RelativeHumidity(%)        object
HeatIndex(°F)              object
WindChill(°F)              object
WindDirection              object
WindSpeed(mph)             object
Visibility(miles)          object
Weather                    object
Clouds(x100 ft)            object
Sea LevelPressure(mb)      object
StationPressure(in Hg)     object
AltimeterSetting(in Hg)    object
1 HourPrecip(in)           object
3 HourPrecip(in)           object
6 HourPrecip(in)           object
24 HourPrecip(in)          object
6 HrMax(°F)                object
6 HrMin(°F)                object
24 HrMax(°F)               object
24 HrMin(°F)               object
dtype: object

In [19]:
df.iloc[-1]["Date/Time(L)"]

'Dec 31, 5:58 pm'

In [ ]:
df = pd.read_csv("data/data")